
    <form action="/api/authuser" method="POST">
        <div>
            <p>Name</p>
            <span>
                <input type="text" name="name" value="name">
            </span>
           
        </div>
        <div>
            <p>password</p>
            <span>
                <input type="password" name="password" value="password">
            </span>
           
        </div>
        <button type="submit">submit</button>
    </form>
